body {
  text-align: center;
  background-color: #eef;
  font-family: "Comic Sans MS", sans-serif;
}

img {
  width: 300px;
  cursor: pointer;
  transition: transform 0.1s;
}

img:active {
  transform: scale(0.95);
}